In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [4]:
dat = pd.read_excel(r'C:\Users\Ramyavepuri\Desktop\ML\data sets\Logistic Regression.xlsx')

In [5]:
data = dat.copy()

In [6]:
data.head()

,PATIENT ID,AGE,GENDER,GLUCOSE,INSULIN miU/L,BLOOD PRESSURE,BODY MASS INDEX,WEIGHT,HEREDITARY,SMOKING/ALCOHOL,HbA1c,TRIGLYCERIDE mg/dl mg/dl,PHYSICAL EXERCISE,STEROID TREATMENT,gestational diabete women,CALORIE INTAKE,DIABETES
0,PDM0001,above50,F,98,25,80.0,21.0,58,YES,YES,6.619852,221.969299,YES,NO,NO,AROUND 2100,NO
1,PDM0002,40-50,F,67,18,124.0,21.0,65,NO,NO,4.816598,145.699564,NO,NO,NO,AROUND 2100,NO
2,PDM0003,40-50,M,110,24,83.0,25.0,72,YES,NO,6.510829,215.501935,YES,NO,NO,AROUND 3700,YES
3,PDM0004,30-40,M,116,25,125.0,25.0,88,YES,NO,6.411004,190.124765,NO,NO,NO,AROUND 3700,NO
4,PDM0005,above50,M,74,15,87.0,20.0,77,YES,YES,5.135397,178.866059,NO,NO,NO,AROUND 2300,YES

In [7]:
data.shape

(199999, 17)

In [8]:
data.describe()

,GLUCOSE,INSULIN miU/L,BLOOD PRESSURE,BODY MASS INDEX,WEIGHT,HbA1c,TRIGLYCERIDE mg/dl mg/dl
count,199999.000000,199999.000000,199996.000000,199994.000000,199999.000000,199991.000000,199967.000000
mean,92.540438,22.387562,105.016305,23.770248,77.220786,5.508652,192.789184
std,16.169418,4.347355,20.475761,3.052589,14.292129,1.451586,166.505788
min,65.000000,15.000000,70.000000,0.000000,45.000000,4.000006,0.000000
25%,78.000000,19.000000,87.000000,21.000000,70.000000,4.755447,153.403889
50%,93.000000,23.000000,105.000000,24.000000,78.000000,5.501138,175.137072
75%,107.000000,26.000000,123.000000,25.000000,89.000000,6.248353,230.404508
max,120.000000,30.000000,140.000000,30.000000,100.000000,200.000000,70000.000000

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199999 entries, 0 to 199998
Data columns (total 17 columns):
PATIENT ID                    199999 non-null object
AGE                           199998 non-null object
GENDER                        199999 non-null object
GLUCOSE                       199999 non-null int64
INSULIN miU/L                 199999 non-null int64
BLOOD PRESSURE                199996 non-null float64
BODY MASS INDEX               199994 non-null float64
WEIGHT                        199999 non-null int64
HEREDITARY                    199987 non-null object
SMOKING/ALCOHOL               199988 non-null object
HbA1c                         199991 non-null float64
TRIGLYCERIDE mg/dl mg/dl      199967 non-null float64
PHYSICAL EXERCISE             199999 non-null object
STEROID TREATMENT             174451 non-null object
gestational diabete women     199982 non-null object
CALORIE INTAKE                179942 non-null object
DIABETES                      194835 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 25.9+ MB

__Check null__

In [8]:
data.isnull().sum()

PATIENT ID                        0
AGE                               1
GENDER                            0
GLUCOSE                           0
INSULIN miU/L                     0
BLOOD PRESSURE                    3
BODY MASS INDEX                   5
WEIGHT                            0
HEREDITARY                       12
SMOKING/ALCOHOL                  11
HbA1c                             8
TRIGLYCERIDE mg/dl mg/dl         32
PHYSICAL EXERCISE                 0
STEROID TREATMENT             25548
gestational diabete women        17
CALORIE INTAKE                20057
DIABETES                       5164
dtype: int64

In [9]:
columns = data.columns.tolist()
for i in columns:
    print(i)
    print(data[i].unique())
    print('\n')

PATIENT ID
['PDM0001' 'PDM0002' 'PDM0003' ... 'PDM199997' 'PDM199998' 'PDM199999']


AGE
['above50' '40-50' '30-40' '20-30' nan]


GENDER
['F' 'M' 'ABC' 'AWE']


GLUCOSE
[ 98  67 110 116  74  89 111 103  86 100 104  90 106  99  71  93  75  70
  66 113  91 105  80  94  85 108 115  87  96 101 114  76  73 119 118  92
  83 117  81 112  78  95 109  82  72  69  84 107  65  79  97  68  88 102
  77 120]


INSULIN miU/L
[25 18 24 15 19 28 23 29 20 27 22 17 21 26 30 16]


BLOOD PRESSURE
[ 80. 124.  83. 125.  87. 128. 127.  97. 120.  96. 134. 112.  72.  84.
 140. 121. 138. 114.  91. 139.  71.  82. 137.  79. 131.  95.  81.  73.
 123. 119. 104.  77. 101. 122. 111.  94.  86. 110.  93. 108.  90. 117.
  85. 102.  nan  76. 126.  88. 106. 115.  92.  89.  70. 129. 116. 105.
 103. 133. 135. 132. 136. 107. 130.  98. 109.  99.  74. 113.  78. 100.
 118.  75.]


BODY MASS INDEX
[21. 25. 20. 19. 24. 30. 23. 22. 28. 26. 29. 27.  0. nan]


WEIGHT
[ 58  65  72  88  77  89  50  84  86  52  85  87  99  53  71  97  68  93
  81  80  91  49 100  79  95  82  74  96  57  90  92  94  83  70  73  78
  75  76  45  51  47  98  48  69  54  62  46  66  59  67  64  60  55  56
  63  61]


HEREDITARY
['YES' 'NO' nan]


SMOKING/ALCOHOL
['YES' 'NO' 0 nan]


HbA1c
[6.61985152 4.81659796 6.5108293  ... 5.37166229 5.76063078 4.83239181]


TRIGLYCERIDE mg/dl mg/dl
[221.96929864 145.69956377 215.50193511 ... 175.18348226 238.21065964
 143.51726321]


PHYSICAL EXERCISE
['YES' 'NO']


STEROID TREATMENT
['NO' nan 'YES']


gestational diabete women
['NO' 'MACROSOMIC' 'PCOS' nan 5]


CALORIE INTAKE
['AROUND 2100' 'AROUND 3700' 'AROUND 2300' 'AROUND 3200' nan 'ABOVE 2900'
 'AROUND 2700' 'AROUND 3100' 'AROUND 1800' 'ABOVE 4000' 'AROUND3000'
 'AROUND 2000' 'AROUND 2500' 'AROUND 3500' 'AROUND 3000' 'AROUND 2800'
 'AROUND 1900' 'AROUND 2200' 'ABOVE 3000' 'AROUND 3300' 'AROUND 1500']


DIABETES
['NO' 'YES' nan]

In [10]:
genderxtra = []
genderxtra.append(data[data.GENDER=='ABC'].index.values.tolist()[0])
genderxtra.append(data[data.GENDER=='AWE'].index.values.tolist()[0])
print(genderxtra)

[51709, 51756]

In [11]:
data = data.drop(genderxtra)

In [17]:
x = [str(i) for i in data['CALORIE INTAKE'].unique().tolist()]
x = [i for i in x if i != 'nan']
y = sorted([int(i[-4:]) for i in x])
CI_e = {}
print(y)
print(x)
for k,i in enumerate(y):
    for j in x:
        if i==int(j[-4:]):
            CI_e[j]=k
            
CI_e

[1500, 1800, 1900, 2000, 2100, 2200, 2300, 2500, 2700, 2800, 2900, 3000, 3000, 3000, 3100, 3200, 3300, 3500, 3700, 4000]
['AROUND 2100', 'AROUND 3700', 'AROUND 2300', 'AROUND 3200', 'ABOVE 2900', 'AROUND 2700', 'AROUND 3100', 'AROUND 1800', 'ABOVE 4000', 'AROUND3000', 'AROUND 2000', 'AROUND 2500', 'AROUND 3500', 'AROUND 3000', 'AROUND 2800', 'AROUND 1900', 'AROUND 2200', 'ABOVE 3000', 'AROUND 3300', 'AROUND 1500']

{'AROUND 1500': 0,
 'AROUND 1800': 1,
 'AROUND 1900': 2,
 'AROUND 2000': 3,
 'AROUND 2100': 4,
 'AROUND 2200': 5,
 'AROUND 2300': 6,
 'AROUND 2500': 7,
 'AROUND 2700': 8,
 'AROUND 2800': 9,
 'ABOVE 2900': 10,
 'AROUND3000': 13,
 'AROUND 3000': 13,
 'ABOVE 3000': 13,
 'AROUND 3100': 14,
 'AROUND 3200': 15,
 'AROUND 3300': 16,
 'AROUND 3500': 17,
 'AROUND 3700': 18,
 'ABOVE 4000': 19}

In [21]:
data['AGE'] = data.AGE.replace(AGE_e)
data['GENDER'] = data.GENDER.replace(GENDER_e)
data['HEREDITARY'] = data.HEREDITARY.replace(YN_e)
data['SMOKING/ALCOHOL'] = data['SMOKING/ALCOHOL'].replace(YN_e)
data['PHYSICAL EXERCISE'] = data['PHYSICAL EXERCISE'].replace(YN_e)
data['STEROID TREATMENT'] = data['STEROID TREATMENT'].replace(YN_e)
data['gestational diabete women '] = data['gestational diabete women '].replace(GES_e)
data['DIABETES'] = data.DIABETES.replace(YN_e)
data['CALORIE INTAKE'] = data['CALORIE INTAKE'].replace(CI_e)

In [15]:
data.head()

,PATIENT ID,AGE,GENDER,GLUCOSE,INSULIN miU/L,BLOOD PRESSURE,BODY MASS INDEX,WEIGHT,HEREDITARY,SMOKING/ALCOHOL,HbA1c,TRIGLYCERIDE mg/dl mg/dl,PHYSICAL EXERCISE,STEROID TREATMENT,gestational diabete women,CALORIE INTAKE,DIABETES
0,PDM0001,4.0,0,98,25,80.0,21.0,58,1.0,1.0,6.619852,221.969299,1,0.0,0.0,4.0,0.0
1,PDM0002,3.0,0,67,18,124.0,21.0,65,0.0,0.0,4.816598,145.699564,0,0.0,0.0,4.0,0.0
2,PDM0003,3.0,1,110,24,83.0,25.0,72,1.0,0.0,6.510829,215.501935,1,0.0,0.0,18.0,1.0
3,PDM0004,2.0,1,116,25,125.0,25.0,88,1.0,0.0,6.411004,190.124765,0,0.0,0.0,18.0,0.0
4,PDM0005,4.0,1,74,15,87.0,20.0,77,1.0,1.0,5.135397,178.866059,0,0.0,0.0,6.0,1.0

In [16]:
data.isnull().sum()

PATIENT ID                        0
AGE                               1
GENDER                            0
GLUCOSE                           0
INSULIN miU/L                     0
BLOOD PRESSURE                    3
BODY MASS INDEX                   5
WEIGHT                            0
HEREDITARY                       12
SMOKING/ALCOHOL                  11
HbA1c                             8
TRIGLYCERIDE mg/dl mg/dl         32
PHYSICAL EXERCISE                 0
STEROID TREATMENT             25548
gestational diabete women        17
CALORIE INTAKE                20057
DIABETES                       5164
dtype: int64

In [22]:
droplst = []
droplst.append(data[data.AGE.isnull()].index.values.tolist())
droplst.append(data[data['BLOOD PRESSURE'].isnull()].index.values.tolist())
droplst.append(data[data['BODY MASS INDEX'].isnull()].index.values.tolist())
droplst.append(data[data['HEREDITARY'].isnull()].index.values.tolist())
droplst.append(data[data['SMOKING/ALCOHOL'].isnull()].index.values.tolist())
droplst.append(data[data['HbA1c'].isnull()].index.values.tolist())
droplst.append(data[data['TRIGLYCERIDE mg/dl mg/dl'].isnull()].index.values.tolist())
droplst.append(data[data['gestational diabete women '].isnull()].index.values.tolist())
print(droplst)

[[15], [63, 130609, 130641], [43992, 43993, 43994, 43995, 43996], [97048, 97049, 97050, 97051, 97052, 134687, 134725, 134742, 177772, 177773, 177774, 177775], [63942, 63947, 63948, 78000, 78001, 78002, 78003, 113379, 113380, 113381, 113382], [102870, 102871, 102872, 102873, 102874, 102875, 102876, 130641], [10, 63, 120, 201, 22680, 22716, 22765, 22795, 22796, 22797, 22798, 22972, 23092, 23093, 23094, 23095, 23096, 23453, 23454, 23455, 23550, 23551, 23552, 63038, 63040, 63041, 63042, 102871, 102872, 102873, 130608, 130609], [15, 102873, 102874, 102875, 102876, 102877, 102878, 102879, 102880, 102881, 102882, 102883, 102884, 102885, 102886, 102887, 102946]]

In [23]:
drop = []
for i in droplst:
    for j in i:
        drop.append(j)
data = data.drop(drop)

In [25]:
data

,PATIENT ID,AGE,GENDER,GLUCOSE,INSULIN miU/L,BLOOD PRESSURE,BODY MASS INDEX,WEIGHT,HEREDITARY,SMOKING/ALCOHOL,HbA1c,TRIGLYCERIDE mg/dl mg/dl,PHYSICAL EXERCISE,STEROID TREATMENT,gestational diabete women,CALORIE INTAKE,DIABETES
0,PDM0001,4.0,0,98,25,80.0,21.0,58,1.0,1.0,6.619852,221.969299,1,0.0,0.0,4.0,0.0
1,PDM0002,3.0,0,67,18,124.0,21.0,65,0.0,0.0,4.816598,145.699564,0,0.0,0.0,4.0,0.0
2,PDM0003,3.0,1,110,24,83.0,25.0,72,1.0,0.0,6.510829,215.501935,1,0.0,0.0,18.0,1.0
3,PDM0004,2.0,1,116,25,125.0,25.0,88,1.0,0.0,6.411004,190.124765,0,0.0,0.0,18.0,0.0
4,PDM0005,4.0,1,74,15,87.0,20.0,77,1.0,1.0,5.135397,178.866059,0,0.0,0.0,6.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199994,PDM199995,2.0,1,84,23,94.0,21.0,56,0.0,1.0,5.132229,158.336968,1,NaN,0.0,7.0,0.0
199995,PDM199996,4.0,0,104,29,78.0,26.0,94,1.0,1.0,5.684273,288.697612,1,0.0,0.0,13.0,0.0
199996,PDM199997,2.0,0,77,24,113.0,19.0,65,1.0,0.0,5.371662,175.183482,1,0.0,0.0,4.0,0.0
199997,PDM199998,4.0,0,100,25,86.0,26.0,99,1.0,1.0,5.760631,238.210660,0,0.0,0.0,13.0,1.0
199998,PDM199999,2.0,1,91,17,73.0,23.0,96,1.0,0.0,4.832392,143.517263,1,0.0,0.0,13.0,0.0

In [19]:
data.isnull().sum()

PATIENT ID                        0
AGE                               0
GENDER                            0
GLUCOSE                           0
INSULIN miU/L                     0
BLOOD PRESSURE                    0
BODY MASS INDEX                   0
WEIGHT                            0
HEREDITARY                        0
SMOKING/ALCOHOL                   0
HbA1c                             0
TRIGLYCERIDE mg/dl mg/dl          0
PHYSICAL EXERCISE                 0
STEROID TREATMENT             25544
gestational diabete women         0
CALORIE INTAKE                20045
DIABETES                       5163
dtype: int64

In [26]:
data = data.drop(columns=['PATIENT ID'])

In [28]:
data.DIABETES.isnull()

0         False
1         False
2         False
3         False
4         False
          ...
199994    False
199995    False
199996    False
199997    False
199998    False
Name: DIABETES, Length: 199919, dtype: bool

In [27]:
Fdata = data[~data.DIABETES.isnull()]
Fdata4test = data[data.DIABETES.isnull()]

In [22]:
Fdata.isnull().sum()

AGE                               0
GENDER                            0
GLUCOSE                           0
INSULIN miU/L                     0
BLOOD PRESSURE                    0
BODY MASS INDEX                   0
WEIGHT                            0
HEREDITARY                        0
SMOKING/ALCOHOL                   0
HbA1c                             0
TRIGLYCERIDE mg/dl mg/dl          0
PHYSICAL EXERCISE                 0
STEROID TREATMENT             25025
gestational diabete women         0
CALORIE INTAKE                19562
DIABETES                          0
dtype: int64

In [23]:
Spredict = Fdata.drop(columns=['CALORIE INTAKE'])

In [24]:
Spredict.isnull().sum()

AGE                               0
GENDER                            0
GLUCOSE                           0
INSULIN miU/L                     0
BLOOD PRESSURE                    0
BODY MASS INDEX                   0
WEIGHT                            0
HEREDITARY                        0
SMOKING/ALCOHOL                   0
HbA1c                             0
TRIGLYCERIDE mg/dl mg/dl          0
PHYSICAL EXERCISE                 0
STEROID TREATMENT             25025
gestational diabete women         0
DIABETES                          0
dtype: int64

In [25]:
Spredict4tes = Spredict[Spredict['STEROID TREATMENT'].isnull()]
Spredict4train = Spredict[~Spredict['STEROID TREATMENT'].isnull()]
Spredict4test = Spredict4tes.drop(columns=['STEROID TREATMENT'])

In [26]:
print(np.array(Spredict4test).shape)
Spredict4train

(25025, 14)

,AGE,GENDER,GLUCOSE,INSULIN miU/L,BLOOD PRESSURE,BODY MASS INDEX,WEIGHT,HEREDITARY,SMOKING/ALCOHOL,HbA1c,TRIGLYCERIDE mg/dl mg/dl,PHYSICAL EXERCISE,STEROID TREATMENT,gestational diabete women,DIABETES
0,4.0,0,98,25,80.0,21.0,58,1.0,1.0,6.619852,221.969299,1,0.0,0.0,0.0
1,3.0,0,67,18,124.0,21.0,65,0.0,0.0,4.816598,145.699564,0,0.0,0.0,0.0
2,3.0,1,110,24,83.0,25.0,72,1.0,0.0,6.510829,215.501935,1,0.0,0.0,1.0
3,2.0,1,116,25,125.0,25.0,88,1.0,0.0,6.411004,190.124765,0,0.0,0.0,0.0
4,4.0,1,74,15,87.0,20.0,77,1.0,1.0,5.135397,178.866059,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199993,4.0,1,93,18,104.0,23.0,98,0.0,0.0,4.771436,138.382881,0,0.0,3.0,0.0
199995,4.0,0,104,29,78.0,26.0,94,1.0,1.0,5.684273,288.697612,1,0.0,0.0,0.0
199996,2.0,0,77,24,113.0,19.0,65,1.0,0.0,5.371662,175.183482,1,0.0,0.0,0.0
199997,4.0,0,100,25,86.0,26.0,99,1.0,1.0,5.760631,238.210660,0,0.0,0.0,1.0
199998,2.0,1,91,17,73.0,23.0,96,1.0,0.0,4.832392,143.517263,1,0.0,0.0,0.0

In [27]:
Spredict_col = Spredict4train.columns.tolist()
Spredict_traintbl = [i for i in Spredict_col if i != 'STEROID TREATMENT']
Spredict_testtbl = [i for i in Spredict_col if i == 'STEROID TREATMENT'] 
Spredict_train = Spredict4train[Spredict_traintbl]
Spredict_test = Spredict4train[Spredict_testtbl]

In [28]:
Spredict_test

        STEROID TREATMENT
0                     0.0
1                     0.0
2                     0.0
3                     0.0
4                     0.0
...                   ...
199993                0.0
199995                0.0
199996                0.0
199997                0.0
199998                0.0

[169731 rows x 1 columns]

In [29]:
SpredictLR = LogisticRegression()
SpredictLR.fit(Spredict_train,Spredict_test)

C:\Users\ram2p\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ram2p\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [30]:
Sres = SpredictLR.predict(Spredict4test).tolist()

In [31]:
Fdata['STEROID TREATMENT'][Fdata['STEROID TREATMENT'].isnull()] = Sres

C:\Users\ram2p\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\ram2p\Anaconda3\lib\site-packages\pandas\core\generic.py:9114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
C:\Users\ram2p\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [32]:
Fdata.isnull().sum()

AGE                               0
GENDER                            0
GLUCOSE                           0
INSULIN miU/L                     0
BLOOD PRESSURE                    0
BODY MASS INDEX                   0
WEIGHT                            0
HEREDITARY                        0
SMOKING/ALCOHOL                   0
HbA1c                             0
TRIGLYCERIDE mg/dl mg/dl          0
PHYSICAL EXERCISE                 0
STEROID TREATMENT                 0
gestational diabete women         0
CALORIE INTAKE                19562
DIABETES                          0
dtype: int64

In [33]:
Cpredict4tes = Fdata[Fdata['CALORIE INTAKE'].isnull()]
Cpredict4train = Fdata[~Fdata['CALORIE INTAKE'].isnull()]
Cpredict4test = Cpredict4tes.drop(columns=['CALORIE INTAKE'])

In [34]:
Cpredict_col = Cpredict4train.columns.tolist()
Cpredict_traintbl = [i for i in Cpredict_col if i != 'CALORIE INTAKE']
Cpredict_testtbl = [i for i in Cpredict_col if i == 'CALORIE INTAKE'] 
Cpredict_train = Cpredict4train[Cpredict_traintbl]
Cpredict_test = Cpredict4train[Cpredict_testtbl]

In [35]:
Cpredict_test

        CALORIE INTAKE
0                  4.0
1                  4.0
2                 18.0
3                 18.0
4                  6.0
...                ...
199994             7.0
199995            13.0
199996             4.0
199997            13.0
199998            13.0

[175194 rows x 1 columns]

In [36]:
CpredictLR = LogisticRegression()
CpredictLR.fit(Cpredict_train,Cpredict_test)

C:\Users\ram2p\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ram2p\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\ram2p\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\ram2p\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [37]:
Cres = CpredictLR.predict(Cpredict4test).tolist()

In [38]:
Fdata['CALORIE INTAKE'][Fdata['CALORIE INTAKE'].isnull()] = Cres

C:\Users\ram2p\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\ram2p\Anaconda3\lib\site-packages\pandas\core\generic.py:9114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
C:\Users\ram2p\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [39]:
Fdata.isnull().sum()

AGE                           0
GENDER                        0
GLUCOSE                       0
INSULIN miU/L                 0
BLOOD PRESSURE                0
BODY MASS INDEX               0
WEIGHT                        0
HEREDITARY                    0
SMOKING/ALCOHOL               0
HbA1c                         0
TRIGLYCERIDE mg/dl mg/dl      0
PHYSICAL EXERCISE             0
STEROID TREATMENT             0
gestational diabete women     0
CALORIE INTAKE                0
DIABETES                      0
dtype: int64

In [51]:
Fdata4test.isnull().sum()

AGE                              0
GENDER                           0
GLUCOSE                          0
INSULIN miU/L                    0
BLOOD PRESSURE                   0
BODY MASS INDEX                  0
WEIGHT                           0
HEREDITARY                       0
SMOKING/ALCOHOL                  0
HbA1c                            0
TRIGLYCERIDE mg/dl mg/dl         0
PHYSICAL EXERCISE                0
STEROID TREATMENT              519
gestational diabete women        0
CALORIE INTAKE                 483
DIABETES                      5163
dtype: int64

In [52]:
Data = Fdata.append(Fdata4test)

In [53]:
Data.isnull().sum()

AGE                              0
GENDER                           0
GLUCOSE                          0
INSULIN miU/L                    0
BLOOD PRESSURE                   0
BODY MASS INDEX                  0
WEIGHT                           0
HEREDITARY                       0
SMOKING/ALCOHOL                  0
HbA1c                            0
TRIGLYCERIDE mg/dl mg/dl         0
PHYSICAL EXERCISE                0
STEROID TREATMENT              519
gestational diabete women        0
CALORIE INTAKE                 483
DIABETES                      5163
dtype: int64

In [59]:
Sidx = Data[Data['STEROID TREATMENT'].isnull()].index.values.tolist()
Cidx = Data[Data['CALORIE INTAKE'].isnull()].index.values.tolist()

In [60]:
Data = Data.drop(Sidx)
Data = Data.drop(Cidx)

In [61]:
Data.isnull().sum()

AGE                              0
GENDER                           0
GLUCOSE                          0
INSULIN miU/L                    0
BLOOD PRESSURE                   0
BODY MASS INDEX                  0
WEIGHT                           0
HEREDITARY                       0
SMOKING/ALCOHOL                  0
HbA1c                            0
TRIGLYCERIDE mg/dl mg/dl         0
PHYSICAL EXERCISE                0
STEROID TREATMENT                0
gestational diabete women        0
CALORIE INTAKE                   0
DIABETES                      4212
dtype: int64

In [62]:
dtes = Data[Data['DIABETES'].isnull()]
dtrain = Data[~Data['DIABETES'].isnull()]
dtest = dtes.drop(columns=['DIABETES'])

In [63]:
d_col = dtrain.columns.tolist()
dd_traintbl = [i for i in d_col if i != 'DIABETES']
dd_testtbl = [i for i in d_col if i == 'DIABETES'] 
dd_train = dtrain[dd_traintbl]
dd_test = dtrain[dd_testtbl]

In [64]:
dLR = LogisticRegression()
dLR.fit(dd_train,dd_test)

C:\Users\ram2p\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ram2p\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [65]:
dres = dLR.predict(dtest).tolist()

In [67]:
Data['DIABETES'][Data['DIABETES'].isnull()] = dres

C:\Users\ram2p\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [69]:
Dcol = Data.columns.tolist()
D_traintbl = [i for i in Dcol if i != 'DIABETES']
D_testtbl = [i for i in Dcol if i == 'DIABETES'] 
X = Data[D_traintbl]
Y = Data[D_testtbl]

In [70]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state=10)
print('Train cases as below')
print('X_train shape: ',X_train.shape)
print('Y_train shape: ',Y_train.shape)
print('\nTest cases as below')
print('X_test shape: ',X_test.shape)
print('Y_test shape: ',Y_test.shape)

Train cases as below
X_train shape:  (159174, 15)
Y_train shape:  (159174, 1)

Test cases as below
X_test shape:  (39794, 15)
Y_test shape:  (39794, 1)

In [81]:
logreg = LogisticRegression()

In [82]:
logreg.fit(X_train,Y_train)

C:\Users\ram2p\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ram2p\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [83]:
Y_pred_train = logreg.predict(X_train)  
Y_pred_test = logreg.predict(X_test)

In [84]:
from sklearn.metrics import accuracy_score
print('Accuracy score for training data is:', accuracy_score(Y_train,Y_pred_train))
print('Accuracy score for test data is:', accuracy_score(Y_test,Y_pred_test))

Accuracy score for training data is: 0.6541394951436792
Accuracy score for test data is: 0.6512036990501081

In [85]:
from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(Y_test, Y_pred_test))
confusion_matrix.index = ['Actual Yes','Actual No']
confusion_matrix.columns = ['Predicted Yes','Predicted No']
print(confusion_matrix)

            Predicted Yes  Predicted No
Actual Yes          15049          5429
Actual No            8451         10865

In [90]:
from sklearn.metrics import classification_report
print('Accuracy score for training data is:', classification_report(Y_train,Y_pred_train))
print('Accuracy score for test data is:', classification_report(Y_test,Y_pred_test))

Accuracy score for training data is:               precision    recall  f1-score   support

         0.0       0.65      0.73      0.69     82333
         1.0       0.67      0.57      0.61     76841

    accuracy                           0.65    159174
   macro avg       0.66      0.65      0.65    159174
weighted avg       0.66      0.65      0.65    159174

Accuracy score for test data is:               precision    recall  f1-score   support

         0.0       0.64      0.73      0.68     20478
         1.0       0.67      0.56      0.61     19316

    accuracy                           0.65     39794
   macro avg       0.65      0.65      0.65     39794
weighted avg       0.65      0.65      0.65     39794